<!--::blog_part start::-->
<section class="blog_part section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5">
        <div class="section_tittle text-center">
          <p>Latest news</p>
          <h2>We Have True Story</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-xl-4 d-none d-sm-block d-lg-none">
        <div class="single-home-blog">
          <div class="card">
            <img src="assets/img/blog/blog_3.png" class="card-img-top" alt="blog">
            <div class="card-body">
              <a routerLink="blog">Art, design</a> | <span> March 30, 2019</span>
              <a routerLink="blog">
                <h5 class="card-title">Seasons form upon days may wont bring given herb sixth</h5>
              </a>
              <ul>
                <li> <i class="ti-comments"></i>4 Comments</li>
                <li> <i class="ti-eye"></i>10 View</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="single-home-blog">
          <div class="card">
            <img src="assets/img/blog/blog_1.png" class="card-img-top" alt="blog">
            <div class="card-body">
              <a routerLink="blog">Technology</a> | <span> March 30, 2019</span>
              <a routerLink="blog">
                <h5 class="card-title">Seasons form upon days may wont bring given herb sixth</h5>
              </a>
              <ul>
                <li> <i class="ti-comments"></i>4 Comments</li>
                <li> <i class="ti-eye"></i>10 View</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="single-home-blog">
          <div class="card">
            <img src="assets/img/blog/blog_2.png" class="card-img-top" alt="blog">
            <div class="card-body">
              <a routerLink="blog">Technology</a> | <span> March 30, 2019</span>
              <a routerLink="blog">
                <h5 class="card-title">Very and third him beginning signs hath subdue make
                </h5>
              </a>
              <ul>
                <li> <i class="ti-comments"></i>4 Comments</li>
                <li> <i class="ti-eye"></i>10 View</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="single-home-blog">
          <div class="card">
            <img src="assets/img/blog/blog_3.png" class="card-img-top" alt="blog">
            <div class="card-body">
              <a routerLink="blog">Technology</a> | <span> March 30, 2019</span>
              <a routerLink="blog">
                <h5 class="card-title">Seasons form upon days may wont bring given herb sixth</h5>
              </a>
              <ul>
                <li> <i class="ti-comments"></i>4 Comments</li>
                <li> <i class="ti-eye"></i>10 View</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--::blog_part end::-->
