<breadcrumb-layout></breadcrumb-layout>

<!-- project_details part start -->
<section class="project_details padding_top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-sm-12">
        <div class="project_details_img">
          <img src="assets/img/single_project.png" alt="single_project">
          <img src="assets/img/single_project_1.png" class="mt-3" alt="single_project">
        </div>
        <div class="pre_icon float-left">
          <a href="#"><img src="assets/img/slim-left.svg" alt=""> previous</a>
        </div>
        <div class="next_icon float-right">
          <a href="#"> next <img src="assets/img/slim-right.svg" alt=""> </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="project_details_content">
          <h3>Saw i very dominion whose
            was light divide</h3>
          <p>Place isn't heaven firmament divided shall fruitful link bring bring may midst
            every a night dry herb. Image waters called beast subdue divided called living
            cture greater tree seas all the. Hath multiply female you're male likeness
            his made open beast seas living moved form. Void stars you our dominion </p>
        </div>
        <div class="project_details_widget">
          <div class="single_project_details_widget">
            <span class="ti-time"></span>
            <h5>Start Time</h5>
            <p>09:00 AM</p>
            <h6>Friday, Mar 10, 2019</h6>
          </div>
          <div class="single_project_details_widget">
            <span class="ti-check-box"></span>
            <h5>Start Time</h5>
            <p>09:00 AM</p>
            <h6>Wed, Feb 06, 2019</h6>
          </div>
          <div class="single_project_details_widget">
            <span class="ti-location-pin"></span>
            <h5>Start Time</h5>
            <p>09:00 AM</p>
            <p>Friday, Mar 10, 2019</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- project_details part end -->

<!-- blog_part start-->
<section class="blog_part section_padding project_details_single">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-12">
        <div class="section_tittle text-center">
          <h2>Related Project</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="single-home-blog">
          <div class="card">
            <img src="assets/img/single_project/demo_1.png" class="card-img-top" alt="blog">
            <div class="card-body">
              <h4>Paper Cup Mockup</h4>
              <p>Photoshop design</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="single-home-blog">
          <div class="card">
            <img src="assets/img/single_project/demo_2.png" class="card-img-top" alt="blog">
            <div class="card-body">
              <h4>Sketch Competition</h4>
              <p>Art, Illustration</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-4">
        <div class="single-home-blog">
          <div class="card">
            <img src="assets/img/single_project/demo_3.png" class="card-img-top" alt="blog">
            <div class="card-body">
              <h4>Phone Mockup</h4>
              <p>Graphic design</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- blog_part start-->
