<!--::review_part start::-->
<section class="review_part padding_top">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="section_tittle text-center">
          <p>recent work</p>
          <h2>Creative work for client</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="intro_video_bg">
          <div class="intro_video_iner text-center">
            <div class="intro_video_icon">
              <a id="play-video_1" class="video-play-button popup-youtube"
                 href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                <span class="ti-control-play"></span>
              </a>
            </div>
            <p>Watch intro video</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-5">
        <div class="review_text_item">
          <div class="row">
            <div class="col-lg-7 col-sm-8">
              <div class="owl-carousel owl-theme" id="sync2">
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <img src="assets/img/client/client_1.png" alt="slideimg" class="image">
                  </div>
                </div>
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <img src="assets/img/client/client_2.png" alt="slideimg" class="image">
                  </div>
                </div>
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <img src="assets/img/client/client_3.png" alt="slideimg" class="image">
                  </div>
                </div>
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <img src="assets/img/client/client_1.png" alt="slideimg" class="image">
                  </div>
                </div>
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <img src="assets/img/client/client_2.png" alt="slideimg" class="image">
                  </div>
                </div>
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <img src="assets/img/client/client_3.png" alt="slideimg" class="image">
                  </div>
                </div>
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <img src="assets/img/client/client_1.png" alt="slideimg" class="image">
                  </div>
                </div>
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <img src="assets/img/client/client_2.png" alt="slideimg" class="image">
                  </div>
                </div>
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <img src="assets/img/client/client_3.png" alt="slideimg" class="image">
                  </div>
                </div>
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <img src="assets/img/client/client_1.png" alt="slideimg" class="image">
                  </div>
                </div>
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <img src="assets/img/client/client_2.png" alt="slideimg" class="image">
                  </div>
                </div>
                <div class="owl-thumb-item">
                  <div class="slider-thumbnails">
                    <img src="assets/img/client/client_3.png" alt="slideimg" class="image">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="slider owl-carousel owl-theme" id="sync1">
                <div class="client_review_text">
                  <p>Own midst. Behold sea created male he together of That Said fourth deep
                    abundantly
                    have light night beginning rule darkness seed darkness which land saying
                    moveth.
                    Fifth shall wont signs, can seasons green days gathered great</p>
                  <img src="assets/img/client/client_logo.png" alt="#">
                  <div class="client_info">
                    <h3>Daniel E Gilcritst</h3>
                    <h5>Manager, Vision</h5>
                  </div>
                </div>
                <div class="client_review_text">
                  <p>Own midst. Behold sea created male he together of That Said fourth deep
                    abundantly
                    have light night beginning rule darkness seed darkness which land saying
                    moveth.
                    Fifth shall wont signs, can seasons green days gathered great</p>
                  <img src="assets/img/client/client_logo.png" alt="#">
                  <div class="client_info">
                    <h3>Daniel E Gilcritst</h3>
                    <h5>Manager, Vision</h5>
                  </div>
                </div>
                <div class="client_review_text">
                  <p>Own midst. Behold sea created male he together of That Said fourth deep
                    abundantly
                    have light night beginning rule darkness seed darkness which land saying
                    moveth.
                    Fifth shall wont signs, can seasons green days gathered great</p>
                  <img src="assets/img/client/client_logo.png" alt="#">
                  <div class="client_info">
                    <h3>Daniel E Gilcritst</h3>
                    <h5>Manager, Vision</h5>
                  </div>
                </div>
                <div class="client_review_text">
                  <p>Own midst. Behold sea created male he together of That Said fourth deep
                    abundantly
                    have light night beginning rule darkness seed darkness which land saying
                    moveth.
                    Fifth shall wont signs, can seasons green days gathered great</p>
                  <img src="assets/img/client/client_logo.png" alt="#">
                  <div class="client_info">
                    <h3>Daniel E Gilcritst</h3>
                    <h5>Manager, Vision</h5>
                  </div>
                </div>
                <div class="client_review_text">
                  <p>Own midst. Behold sea created male he together of That Said fourth deep
                    abundantly
                    have light night beginning rule darkness seed darkness which land saying
                    moveth.
                    Fifth shall wont signs, can seasons green days gathered great</p>
                  <img src="assets/img/client/client_logo.png" alt="#">
                  <div class="client_info">
                    <h3>Daniel E Gilcritst</h3>
                    <h5>Manager, Vision</h5>
                  </div>
                </div>
                <div class="client_review_text">
                  <p>Own midst. Behold sea created male he together of That Said fourth deep
                    abundantly
                    have light night beginning rule darkness seed darkness which land saying
                    moveth.
                    Fifth shall wont signs, can seasons green days gathered great</p>
                  <img src="assets/img/client/client_logo.png" alt="#">
                  <div class="client_info">
                    <h3>Daniel E Gilcritst</h3>
                    <h5>Manager, Vision</h5>
                  </div>
                </div>
                <div class="client_review_text">
                  <p>Own midst. Behold sea created male he together of That Said fourth deep
                    abundantly
                    have light night beginning rule darkness seed darkness which land saying
                    moveth.
                    Fifth shall wont signs, can seasons green days gathered great</p>
                  <img src="assets/img/client/client_logo.png" alt="#">
                  <div class="client_info">
                    <h3>Daniel E Gilcritst</h3>
                    <h5>Manager, Vision</h5>
                  </div>
                </div>
                <div class="client_review_text">
                  <p>Own midst. Behold sea created male he together of That Said fourth deep
                    abundantly
                    have light night beginning rule darkness seed darkness which land saying
                    moveth.
                    Fifth shall wont signs, can seasons green days gathered great</p>
                  <img src="assets/img/client/client_logo.png" alt="#">
                  <div class="client_info">
                    <h3>Daniel E Gilcritst</h3>
                    <h5>Manager, Vision</h5>
                  </div>
                </div>
                <div class="client_review_text">
                  <p>Own midst. Behold sea created male he together of That Said fourth deep
                    abundantly
                    have light night beginning rule darkness seed darkness which land saying
                    moveth.
                    Fifth shall wont signs, can seasons green days gathered great</p>
                  <img src="assets/img/client/client_logo.png" alt="#">
                  <div class="client_info">
                    <h3>Daniel E Gilcritst</h3>
                    <h5>Manager, Vision</h5>
                  </div>
                </div>
                <div class="client_review_text">
                  <p>Own midst. Behold sea created male he together of That Said fourth deep
                    abundantly
                    have light night beginning rule darkness seed darkness which land saying
                    moveth.
                    Fifth shall wont signs, can seasons green days gathered great</p>
                  <img src="assets/img/client/client_logo.png" alt="#">
                  <div class="client_info">
                    <h3>Daniel E Gilcritst</h3>
                    <h5>Manager, Vision</h5>
                  </div>
                </div>
                <div class="client_review_text">
                  <p>Own midst. Behold sea created male he together of That Said fourth deep
                    abundantly
                    have light night beginning rule darkness seed darkness which land saying
                    moveth.
                    Fifth shall wont signs, can seasons green days gathered great</p>
                  <img src="assets/img/client/client_logo.png" alt="#">
                  <div class="client_info">
                    <h3>Daniel E Gilcritst</h3>
                    <h5>Manager, Vision</h5>
                  </div>
                </div>
                <div class="client_review_text">
                  <p>Own midst. Behold sea created male he together of That Said fourth deep
                    abundantly
                    have light night beginning rule darkness seed darkness which land saying
                    moveth.
                    Fifth shall wont signs, can seasons green days gathered great</p>
                  <img src="assets/img/client/client_logo.png" alt="#">
                  <div class="client_info">
                    <h3>Daniel E Gilcritst</h3>
                    <h5>Manager, Vision</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--::blog_part end::-->
