<!-- about part start-->
<section class="about_part">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img src="assets/img/about_img_1.png" class="assets/img_1" alt="">
          <!--          <img src="assets/img/about_img_2.png" class="assets/img_2" alt="">-->
          <h2>25 Years Working <br>
            Experience</h2>
        </div>
      </div>
      <div class="offset-lg-1 col-lg-4">
        <div class="about_text">
          <h5>About our company</h5>
          <h2>Make the customer the
            hero of your story</h2>
          <h4>He hath his earth firmament air very itself light day moring morning you living saying good
            above fourth</h4>
          <p>Meat abundantly life made fly years there whose beginning crea unto beast sixth herb
            their bring. Evening fruitful god you spir evning itself land you of of own brought </p>
          <a href="#" class="btn_1">learn more <i class="ti-angle-right"></i> </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-app-7 custom-animation"><img src="assets/img/animate_icon/icon_7.png" alt=""></div>
  <div class="hero-app-8 custom-animation2"><img src="assets/img/animate_icon/icon_4.png" alt=""></div>
  <div class="hero-app-6 custom-animation3"><img src="assets/img/animate_icon/icon_5.png" alt=""></div>
</section>
<!-- about part start-->
