<!-- team_member part start-->
<section class="team_member_section section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="single_team_member">
          <img src="assets/img/team/team_1.png" alt="">
          <div class="single_team_text">
            <h3><a href="#"> Jhosef Williams</a></h3>
            <p>Web developer</p>
            <div class="team_member_social_icon">
              <a href="#">facebok</a>
              <a href="#">twitter</a>
              <a href="#">skype</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single_team_member">
          <img src="assets/img/team/team_2.png" alt="">
          <div class="single_team_text">
            <h3><a href="#">Daniel Hancock</a></h3>
            <p>Web developer</p>
            <div class="team_member_social_icon">
              <a href="#">facebok</a>
              <a href="#">twitter</a>
              <a href="#">skype</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="single_team_member">
          <img src="assets/img/team/team_3.png" alt="">
          <div class="single_team_text">
            <h3><a href="#">Bernard Perales</a></h3>
            <p>Web developer</p>
            <div class="team_member_social_icon">
              <a href="#">facebok</a>
              <a href="#">twitter</a>
              <a href="#">skype</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- team_member part end-->
