<!-- happy_client counter start -->
<section class="happy_client">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="single_happy_client">
          <img src="assets/img/icon/cap.svg" alt="cap">
          <span class="counter">85</span>
          <h4>Satisfied <br>client</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_happy_client">
          <img src="assets/img/icon/bag.svg" alt="cap">
          <span class="counter">95</span>
          <h4> Total<br>project</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_happy_client">
          <img src="assets/img/icon/shirt.svg" alt="cap">
          <span class="counter">75</span>
          <h4>work<br>completed</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_happy_client">
          <img src="assets/img/icon/cafe.svg" alt="cap">
          <span class="counter">95</span>
          <h4>work<br>completed</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- happy_client counter end -->
